{% extends 'base.html' %}
{% block content %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Django Project Site</h1>
  <p class="lead">Hi! I have created this blog site as part of a project while learning Django and basics of HTML, CSS. This project utilises concepts like CRUD functionality and user registration.</p>
</div>

<div class="container">
    <div class="d-flex flex-column" style="text-align: center;">
      <h1>Registered Users:</h1>
        {% for account in accounts %}
            <p>{{account}}</p>
        {% endfor %}
    </div>
</div>

{% endblock content %}