{% extends 'base.html' %}
{% load static %}

{% block content %}
<style type="text/css">

	@media (max-width: 768px) {
		.right-column{
			margin-left: 0px;
		}
	}

	@media (min-width: 768px) {
		.right-column{
			margin-left: 60px;
		}
	}

	.blog-post-container{
		margin-bottom: 20px;
		width: 100%;
	}
	.create-post-bar{
		background-color: #fff;
		margin-bottom:20px;
	}

	.left-column{
		padding:0px;
	}

	.right-column{
		padding:0px;
	}
	.lead{
		font-size: 17px;
	}
</style>


<!-- main content -->
<div class="container p-3" style="max-width: 1400px;">
	<div class="row">

		<!-- blog feed -->
		<div class="left-column col-lg-6" style="margin-left: 12px;">

			<!-- Top 'create post' bar -->
			<div class="d-lg-none mb-3">
				<div class="card m-auto d-flex flex-column p-3" style="text-align: center;">
						<img class="center m-auto" src="https://www.flaticon.com/svg/static/icons/svg/609/609803.svg" width="72" height="72">
						<h3 style="margin-top: 10px;">Home</h3>
					<p class="lead m-auto" >Welcome to your home page where you can see various posts posted by you as well as other users.</p>
					<p class="m-auto"><a class="btn btn-lg btn-primary" style="margin-top: 10px;" href="{% url 'blog:create' %}">Create post</a></p>
				</div>
			</div>
			<!-- end Top 'create post' bar -->

			<!-- Blog posts-->
			{% if blog_posts %}
				{% for post in blog_posts %}
					<div class="blog-post-container">
						{% include 'blog/snippets/blog_post_snippet.html' with blog_post=post %}
					</div>
				{% endfor %}
			{% else %}
				<div class="blog-post-container">
					{% include 'blog/snippets/blog_post_snippet.html' with query=query %}
				</div>
			{% endif %}
			<!-- End Blog posts-->


		</div>
		<!-- end blog feed -->

		<!-- Right 'create post' column  -->
		<div class="right-column col-lg-4 d-lg-flex d-none flex-column">
			<div class="card create-post-bar d-flex flex-column p-3">
				<div class="row">
					<div class="column">
						<img class="img-fluid d-block pb-2" style="margin-left: 20px; margin-bottom: -1px;" src="https://www.flaticon.com/svg/static/icons/svg/609/609803.svg" width="72" height="72">
					</div>
					<div class="column" style="margin-left: 20px;">
						<br>
						<h3>Home</h3>
					</div>
				</div>
				<p class="lead p-1">Welcome to your home page where you can see various posts posted by you as well as other users.</p>
				<a class="btn btn-lg btn-primary btn-block" href="{% url 'blog:create' %}">Create post</a>
			</div>

			<div class="card create-post-bar d-flex flex-column p-3">
				<h3>Search</h3>
				<p class="lead p-1">Search for any posts using keywords.</p>
				<div class="search-bar mt-sm-e mr-2" style="margin-bottom: 10px;">
					<form method="get">
						<input type="text" class="form-control" name="q" id="id_q" placeholder="Search...">
					</form>
				</div>
			</div>
		</div>

		<!-- end Right 'create post' column  -->


	</div>
</div>

<script type="text/javascript">
  document.getElementById('id_q').value = '{{query}}'
</script>

{% endblock content %}
