
<style type="text/css">
html{
      font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}
</style>


<!--HEADER-->

<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h3 class="my-0 mr-md-auto font-weight-normal">
      <img src="https://www.flaticon.com/svg/static/icons/svg/2885/2885645.svg" style="margin-right: 10px;" alt="" width="70" height="70">
      {% if request.user.is_authenticated %}
        Hello, {{request.user.username}}
      {% else %}
        Welcome to my site!
      {% endif %}
  </h3>
  <nav class="my-2 my-md-0 mr-md-3">
    {% if request.user.is_authenticated %}
    <h5 class="my-0 mr-md-auto font-weight-normal">
    <a class="p-3 text-dark" href="{% url 'home' %}">Home</a>
    <a class="p-3 text-dark" href="{% url 'account' %}">Account</a>
    <a class="p-3 text-dark" href="{% url 'logout' %}">Logout</a>
    </h5>
    {% else %}
    <h5 class="my-0 mr-md-auto font-weight-normal"><a class="p-3 text-dark" href="{% url 'home' %}">Home</a>
    <a class="p-3 text-dark" href="{% url 'login' %}">Login</a></h5>
  </nav>
  <a class="btn btn-outline-primary" href="{% url 'register' %}">Sign up</a>
  {% endif %}
</div>

<!--END HEADER-->

